* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.container {  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

.logo-mario {
  height: 200px;
}

p {
  color: white;
  margin-top: 20px;
}

.botao-entre-contato {
  color: white;
  background-color: #c51111;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px ;
}

.imagem-mario-luigi {
  height: 500px;
}

.caixa-principal {
  width: 50%;
  line-height: 1.5;
}

.container-video {
  position: fixed;
  top: 0;
  z-index: -2;
}

video {
  width: 100vw;
}

.mascara {
  height: 100%;
  width: 100%;
  background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.link-whatsapp img {
  height: 60px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}